

thead tr{
    text-transform: uppercase;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Roboto Slab', serif; */
    font-weight: 300;
}

/* thead{
    background: transparent !important;
} */

#show-table td{
    font-size: 18px;
    font-family: 'Comfortaa', cursive;
    /* font-family: 'Roboto Slab', serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    font-weight: 300;
    padding: 5px !important;
    margin: 0 !important;
}

/* #show-table td:nth-child(2) {
    padding-left: 10px !important;
}
#show-table td:nth-child(3) {
    padding-left: 10px !important;
} */

/* th,
td {
    border: 5px solid white !important;
    border-radius: 5px !important;
} */


.table-green{
    background-color:#00802b;
}

.table-green tr{
    color: white;
}

.table-green tr:nth-child(even) {
    background-color: #009933;    
}

.table-teal-green {
    background-color: #006D5B;
    color: white !important;
}

.table-teal-green tr:nth-child(even) {
    background-color: #018a73;
    color: white !important;
}


.modal-md{
    max-width: 800px;
    /* margin: 0 auto !important;
    justify-content: center !important;
    justify-self: center !important;
    align-self: center !important; */
}